# Encoded audio.
/Resources/Audio/*/*flac

# Secret salt for online score submission.
/Resources/Secret.plist

# OS-Specific junk.
.DS_Store

# Xcode IDE
/*.xcodeproj/*
!/*.xcodeproj/*.pbxproj
/build

# Gorillas Stuff
/promocodes
